<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&family=Spectral+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="./img/logo3.png">

<link rel="stylesheet" href="./css/companydetails.css">
<link rel="stylesheet" href="./css/home.css"> 

<title> Predictor</title>