<div id="navback">
    <img src="https://www.investopedia.com/thmb/NIRIWYxne7FQv1KPMGp21Mw3ZnA=/4000x2250/filters:fill(auto,1)/GettyImages-1069345714-fbda50660ce74c26944a2b03d6482473.jpg" alt=""  width="100%" height="300px" >
</div>
   
<nav>
    <div id="firstmenu">
        <div id="logo">
            <a href="/"> <img src="./img/logo3.png" alt="" height="120" width="120"></a>
        </div>
        <div id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="">Stock News</a></li>
        </div>
        <div id="login">
            <li><a href="">Login</a></li>
            <li><a href="">Sign Up</a></li>
        </div>
    </div>
    <div id="headings">
        <p>Real-time Stock Market Prediction </p>
    </div>
</nav>