/*@media (prefers-color-scheme: dark) {
   
    body
    {
        color:white;
        background-color: black;
    }
}
*/

body
{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    margin: 0;
}
#navback
{
    position: absolute;
    z-index:-2;
   

}

nav
{
    background-color: rgba(0, 130, 252, 0.5);
    font-weight: bolder;
    height: 300px;
    color: white;
    width: 100%;
    user-select: none;
   /* border-bottom-left-radius:550px;
    border-bottom-right-radius:550px;*/

}
/*#navback img{
  border-bottom-left-radius:550px;
  border-bottom-right-radius:550px;
}*/
#firstmenu
{
   display: flex;
}
 #logo
{
    margin-left: 13%;
   margin-right: 28%; 
   margin-top: 0.2%;
  
   
}

#logo img
{
    outline: none;
    
}
#menu,#login 
{
    list-style-type: none;
    display: flex;
    font-size: 18px;
   
}
#menu li,#login li
{
    margin-top: 40px;
    padding: 30px;
   
}
#menu a,#login a
{
    text-decoration: none;
    color: white;
    position: relative;
    outline: none;
  
}

  #menu a:after ,#login a:after{
    content: '';
    display: block;
    border-bottom: 2px solid rgb(28, 0, 70);
    width: 0;
    left: 0;
    position: absolute;
    transition: 0.3s ease;
  }

    
 
  #menu a:hover:after,#login a:hover:after{ 
    width: 100%; 
   /* left: 0;
    right: 0;*/
  }
  #headings
  {
      text-align: center;
      letter-spacing: 2px;
      font-size: 28px;
      font-weight: bolder;
      margin-top: 3%;
  }

.companydetails
{
  display: flex;
margin-top: 8%;
margin-bottom: 5%;
}
.company1
{
  box-shadow: 0px 2px 4px 0px grey;
cursor: pointer;
  height: 260px;
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  border-radius: 12px;
  transition: all 0.4s;
}
.c1name
{
  font-weight: bold;
  font-size: 24px;
  margin-top: 18%;
 /* font-family:'Courier New', Courier, monospace;*/
  font-family: "Roboto","HelveticaNeue-Light",sans-serif;
}
.company1:hover .clogo
{
 
    box-shadow: 0px 4px 6px 0px grey;
}
.company1:hover
{
  box-shadow: 0px 4px 8px 0px grey;

}
.company1 span
{
  font-weight: bold;
}
.clogo
{
  height: 100px;
  width: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 50%;
   box-shadow: 0px 2px 4px 0px grey;
  transition: all 0.4s;

}
#foot
{
    text-align: center;
    background-color: rgb(6, 94, 167);
    padding: 20px;
    font-weight: bold;
    color: white;
    
}
#name
{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}


@media screen and (max-width:1024px)
{
  #logo
  {
    margin-right: 14%;
  }
  #menu li,#login li
  {
     
      padding: 25px;
  }
}
@media screen and (max-width:1224px)
{
  #logo
  {
    margin-right: 14%;
  }
  #menu li,#login li
  {
     
      padding: 25px;
  }
}
@media screen and (max-width:1324px)
{
  #menu li,#login li
  {
    padding: 25px;
     
  }
}
@media screen and (max-width:768px)
{
  #logo
  {
    margin-right: 1%;
    margin-left: 3%;
  }
  #menu li,#login li
{
   
    padding: 20px;
   
}
}